<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fanwood+Text|Shrikhand" type="text/css" />
    <!-- material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>LyteByte Home Page</title>
  </head>

  <body>
    <!--  main navigation menu -->
    <nav id = "sidebar" class="active">
      <div class = "sidebar-header"><i class="material-icons">account_circle</i></div>
      <a href="/">Home</a>
      <a href="/login">account</a>
      <a href="#">cart</a>
      <a href="/order">orders</a>
      <a href="">reviews</a>
    </nav>

    <!-- main content -->
    <main id="content">
      <!-- toggle for navigation menu -->
      <span type="button" id="sidebarCollapse"><i class="material-icons">dehaze</i></span>

      <h1>Orders</h1>
      <div class='restaurant_order'></div>
    </main>

  </body>
</html>
