// See: https://sass-lang.com/
$primary-title-font: 'Shrikhand', Cursive;
$primary-content-font: 'Fanwood Text', Serif;
$peach: #FFCBA4;

body {
  display: flex;
  width: 100%;
  align-items: stretch;

  // Toggle Button
  #sidebar {
    width: 450px;
    min-height: 100vh;
    background: black;
    color: white;
    transition: all 0.3s;

    .sidebar-header {
      padding: 25px;
    }

    a {
      padding: 25px;
      text-decoration: none;
      color: white;
      font-size: 1.1em;
      display: block;
    }
  }

  #sidebar.active {
    margin-left: -450px;
  }

  #sidebar a:hover {
    background: white;
    color: black;
  }

  // Main Content
  main {
    transition: margin-left .5s;
    width: 100%;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 9px 2px rgba(29, 20, 0, 0.69);

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      transform: translateX(-50%) translateY(-50%);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.7;
      z-index: 1;
      padding: 20px;

      #content {
        position: absolute;
        bottom: 20px;
        right: 20px;
        text-align: right;

        h1 {
          font-family: $primary-title-font;
          font-size: 48px;
        }

        .btn {
          position: relative;
          font-size: 1.5rem;
          letter-spacing: 1rem;
          text-transform: uppercase;
          transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
          cursor: pointer;
          user-select: none;

          a {
            text-decoration: none;
            color: white;
          }
        }

        .btn:before, .btn:after {
          content: '';
          position: absolute;
          transition: inherit;
          z-index: -1;
        }

        .btn:hover {
          color: $peach;
          transition-delay: .6s;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .btn:hover:before {
          transition-delay: 0s;
        }

        .btn:hover:after {
          background: $peach;
          transition-delay: .4s;
        }

        .from-right:before,
        .from-right:after {
	        top: 0;
	        width: 0;
	        height: 100%;
        }

        .from-right:before {
	        left: 0;
	        border: 1px solid $peach;
	        border-left: 0;
	        border-right: 0;
        }

        .from-right:after {
	        right: 0;
        }

        .from-right:hover:before,
        .from-right:hover:after {
	        width: 100%;
        }
      }
    }
  }

  #loginInForm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80vh;

    h1 {
      font-family: $primary-title-font;

    }

    label {
      font-family: $primary-content-font;
    }

    input {
      border-radius: 7px;
      height: 45px;
    }

    @mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
      background: $bcolor;
      -webkit-mask: url($url);
      mask: url($url);
      -webkit-mask-size: $x1 $y1;
      mask-size: $x1 $y1;
      border: $bor;
      color: $col;
    }
    .button-container-1 {
      position: relative;
      height: 50px;
      border: 1px solid;
      border-radius: 7px;
      overflow: hidden;
      transition: 0.5s;
      margin-top: 6vh;

      button {
        width: 100%;
        height: 100%;
        font-size: 20px;
        @include button(white, "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png", 3000%, 100%, none, black);
        cursor: pointer;

        &:hover {
          animation: ani 0.7s steps(29) forwards;
        }
      }
    }
    .mas {
      position: absolute;
      color: white;
      text-align: center;
      width: 100%;
      font-size: 20px;
      margin-top: 10px;
      overflow: hidden;
    }
    @keyframes ani {
      from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
      }
      to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
      }
    }

  }

  #cart-container {
    color: black;
  }

}
