@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap');
$nunito: 'Nunito', sans-serif;
$sans: 'Open Sans', sans-serif;
$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$front: white;
$back: olive;

#menu-content {

  .modal-content{
    padding: 30px;
  }

  .popout{
    font-family: $sans;
    font-weight: 900;
    font-size: 80px;
    text-align: center;

    @keyframes ani{
      0%{
        transform: translate3d(0,0,0);
        text-shadow: 0em 0em 0 $back;
        color: $front;
      }
      30%{
        transform: translate3d(0,0,0);
        text-shadow: 0em 0em 0 $back;
        color: $front;
      }
      70%{
        transform: translate3d($d,-$d,0);
        text-shadow: -$d $d $back;
        color: $front;
      }
      100%{
        transform: translate3d($d,-$d,0);
        text-shadow: -$d $d $back;
        color: $front;
      }
    }
    span{
      position: relative;
      display: inline-block;
      animation: ani $t infinite alternate $e;
      @for $i from 1 through $n{
        &:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
      }
    }

  }

  #menu-title {
    text-align: center;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    padding: 10px;
    font-family: 'Shrikhand', Cursive;
  }

  .dish-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    .dish-child {
      height: 250px;
      width: 500px;
      padding: 2em;
      margin: 1.5em;
      background-color: white;
      border-radius: 5px;
      color: black;
      font-family: $sans;
      position: relative;

      #dish-name {
        font-family: $nunito;
        font-size: 25px;
        font-weight: bold;
        width: 65%;
      }

      #dish-description {
        font-style: italic;
        font-size: 12px;
        width: 65%;
      }

      #dish-quantity {
        font-size: 15px;
        position: absolute;
        bottom: 32px;
      }

      #dish-price {
        font-size: 30px;
        position: absolute;
        top: 32px;
        right: 32px;
      }

      #dish-submit {
        position: absolute;
        right: 32px;
        bottom: 32px;

        .addItemToCart {
          border-radius: 50px;
          width: 70px;
          height: 70px;
        }
      }
    }
  }

}
