* {
  text-align: center;
}

#orders-title {
  font-family: 'Shrikhand', Cursive;
  text-align: center;
}

table {
  margin: 0 auto;
}

td {
  padding: 15px;
  border-bottom: 1px solid white;
}

th {
  padding: 15px;
  border-bottom: 1px solid white;
}

