.order-container{
  position:relative;
  z-index:1000;
  background:#ecc65c;
  padding:2em 2em 2em 2em;
  margin-top:10em;
  border-radius: 25px;
  box-shadow:-2px 2px 2px #333333;
  height:20rem;
  width:20rem;


  form{
    margin-top:1em;
  }

}
